.pokemon-item__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-item__name {
  color: gray;
  border-bottom: 3px solid #4d4dff;
  padding-top: 30px;
}

.pokemon-item__avatar-and-about {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.pokemon-item__avatar {
  height: 300px;
}

.pokemon-item__about-and-info-text {
  color: gray;
  margin: 0px;
}

.pokemon-item__info-text {
  color: #4d4dff;
}

.pokemon-item__pokemon-size {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-item__description {
  max-width: 220px;
  word-wrap: break-word;
}

.pokemon-item__choose-button {
  background-color: #4d4dff;
  border-color: #4d4dff;
  color: white;
  font-size: 20px;
  width: 230px;
  height: 40px;
  border-radius: 5px;
}

.pokemon-item__choose-button:hover {
  background-color: blue;
  border-color: blue;
}

.pokemon-item__likes {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 7px;
}

.pokemon-item__image-likes:hover {
  cursor: pointer;
}
