*:focus {
  outline: none;
}

.pokemon-list__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pokemon-list__title {
  border-bottom: 3px solid #4d4dff;
  margin-top: 30px;
  font-size: 30px;
  color: gray;
}

.pokemon-list__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.pokemon-list__pokeitem {
  padding: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width:200px;
  word-wrap:break-word;
  margin: 50px;
}

.pokemon-list__pokeitem:hover {
  box-shadow: 0 0 10px 0px #c1c1c1;
}

.pokemon-list__pokeavatar {
  height: 200px;
}

.pokemon-list__likes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.pokemon-list__image-likes:hover {
  cursor: pointer;
}
