.pokemon-comment__container {
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.pokemon-comment__comment-input {
  height: 40px;
  width: 500px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px;
  font-size: 18px;
}

.pokemon-comment__comment-input:focus {
  color: #4d4dff;
  border: 1px solid #4d4dff;
}


.pokemon-comment__comment-post {
  background-color: #4d4dff;
  border-color: #4d4dff;
  color: white;
  font-size: 20px;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  margin: 10px;
}

.pokemon-comment__comment-post:focus {
  background-color: blue;
  border-color: blue;
}

.pokemon-comment__name-content-date{
  color: gray;
  display: flex;
  justify-content: space-between;
  align-self: center;
  align-items: center;
  flex-direction: row;
}

.pokemon-comment__comments{
  width: 800px;
}
