.login__container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login__login{
  margin: 20px;
  width: 200px;
  height: 40px;
  background-color: #4d4dff;
  border-color: #4d4dff;
  border-radius: 5px;
  outline: none;
  color: white;
}

.login__login:focus{
  background-color: blue;
  border-color: blue;
}

.login__register{
  color: #4d4dff;
  outline: none;
  text-decoration: none;
}

.login__register:focus{
  color: blue;
  outline: none;
  text-decoration: none;
}

.login__inputs {
  margin-bottom: 5px;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  height: 30px;
  font-family: "Times New Roman";
  font-size: 18px;
  padding: 1px 10px;
}

.login__login-form {
  display: flex;
  flex-direction: column;
}

.login__inputs:focus {
  border: solid 1px #4d4dff;
  border-radius: 5px;
  color: #4d4dff;
  outline: none;
}
