.register__container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.register__register{
  margin: 20px;
  width: 230px;
  height: 40px;
  background-color: #4d4dff;
  border-color: #4d4dff;
  border-radius: 5px;
  outline: none;
  color: white;
  font: arial;
}

.register__register:focus{
  background-color: blue;
  border-color: blue;
}

.register__inputs {
  margin-bottom: 5px;
  border: solid 1px #c9c9c9;
  border-radius: 5px;
  height: 30px;
  font-family: "Times New Roman";
  font-size: 18px;
  padding: 1px 10px;
}

.register__inputs:focus {
  border: solid 1px #4d4dff;
  border-radius: 5px;
  color: #4d4dff;
  outline: none;
}

.register__register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
