*:focus {
  outline: none;
}

.header-container__header {
  background-color: #4d4dff;
  height: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.header-container__logout {
  background-color: #4d4dff;
  border-color: #4d4dff;
  color: white;
  height: 128px;
  font-size: 18px;
  box-shadow:none;
  border: 0;
}

.header-container__logout:hover {
  border-top: 2px solid white;
}
